{% load static %}
<!--//////////////HEADER/////////////-->

<section class="header">
    <div class="header__left">
        <svg class="header__svg">
            <use xlink:href="{% static 'img/sprite.svg#icon-phone' %}"></use>
        </svg>
        <p class="header__paragraph">
            09214204297
        </p>
    </div>
    <div class="header__center">
        <svg class="header__svg">
            <use xlink:href="{% static 'img/sprite.svg#icon-mail4' %}"></use>
        </svg>
        <p class="header__paragraph">
            contact@btrealestate.co
        </p>
    </div>
    <div class="header__right">
        <svg class="header__svg">
            <a href="#"><use xlink:href="{% static 'img/sprite.svg#icon-facebook1' %}"></use></a>
        </svg>
        <svg class="header__svg">
            <a href="#"><use xlink:href="{% static 'img/sprite.svg#icon-instagram' %}"></use></a>
        </svg>
        <svg class="header__svg">
            <a href="#"><use xlink:href="{% static 'img/sprite.svg#icon-telegram1' %}"></use></a>
        </svg>
    </div>
</section>
