{% extends 'base.html' %}

{% block content %}

<!--///////////////////////SIGN IN//////////////////-->

<section class="sign">
    <div class="sign__cover">
        <div class="sign__top">
            <h1 class="sign__heading">Register</h1>
        </div>
        <div class="sign__bottom">
            <p class="sign__paragraph">
                First Name
            </p>
            <input type="text" class="sign__input">

            <p class="sign__paragraph">
                Last Name
            </p>
            <input type="text" class="sign__input">

            <p class="sign__paragraph">
                User Name
            </p>
            <input type="text" class="sign__input">

            <p class="sign__paragraph">
                Email
            </p>
            <input type="email" class="sign__input">

            <p class="sign__paragraph">
                Password
            </p>
            <input type="password" class="sign__input">

            <p class="sign__paragraph">
                Confirm Password
            </p>
            <input type="password" class="sign__input">
        </div>

        <div class="sign__button">
            <a href="#" class="sign__btn">Register</a>
        </div>
    </div>
</section>

{% endblock %}